[defaults]
inventory = ansible/inventory/production/hosts.yml
roles_path = ansible/roles
interpreter_python = auto_silent
retry_files_enabled = False
stdout_callback = default
host_key_checking = True

[ssh_connection]
pipelining = True

